body{
    background-color: rgb(235, 255, 248);
}
table{
    border-collapse: collapse;
    text-align: center;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 8px;
    border-color: gray;
    position: absolute;
    width: 87px;

}
